<!-- Blog Wrapper Start -->
<div class="blog-wrapper">
  <div class="row">
    <div class="col-md-6">

      <!-- Single Blog Start -->
      <div class="single-blog">
        <div class="blog-image">
          <a href="blog-details-left-sidebar.html"><img src="assets/images/blog/blog-01.jpg" alt="Blog"></a>
        </div>
        <div class="blog-content">
          <div class="blog-author">
            <div class="author">
              <div class="author-thumb">
                <a href="#"><img src="assets/images/author/author-01.jpg" alt="Author"></a>
              </div>
              <div class="author-name">
                <a class="name" href="#">Jason Williams</a>
              </div>
            </div>
            <div class="tag">
              <a href="#">Science</a>
            </div>
          </div>

          <h4 class="title"><a href="blog-details-left-sidebar.html">Data Science and Machine Learning with
            Python - Hands On!</a></h4>

          <div class="blog-meta">
            <span> <i class="icofont-calendar"></i> 21 March, 2021</span>
            <span> <i class="icofont-heart"></i> 2,568+ </span>
          </div>

          <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
        </div>
      </div>
      <!-- Single Blog End -->

    </div>
    <div class="col-md-6">

      <!-- Single Blog Start -->
      <div class="single-blog">
        <div class="blog-image">
          <a href="blog-details-left-sidebar.html"><img src="assets/images/blog/blog-02.jpg" alt="Blog"></a>
        </div>
        <div class="blog-content">
          <div class="blog-author">
            <div class="author">
              <div class="author-thumb">
                <a href="#"><img src="assets/images/author/author-02.jpg" alt="Author"></a>
              </div>
              <div class="author-name">
                <a class="name" href="#">Pamela Foster</a>
              </div>
            </div>
            <div class="tag">
              <a href="#">UX Design</a>
            </div>
          </div>

          <h4 class="title"><a href="blog-details-left-sidebar.html">Create Amazing Color Schemes for Your UX
            Design Projects</a></h4>

          <div class="blog-meta">
            <span> <i class="icofont-calendar"></i> 21 March, 2021</span>
            <span> <i class="icofont-heart"></i> 2,568+ </span>
          </div>

          <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
        </div>
      </div>
      <!-- Single Blog End -->

    </div>
    <div class="col-md-6">

      <!-- Single Blog Start -->
      <div class="single-blog">
        <div class="blog-image">
          <a href="blog-details-left-sidebar.html"><img src="assets/images/blog/blog-03.jpg" alt="Blog"></a>
        </div>
        <div class="blog-content">
          <div class="blog-author">
            <div class="author">
              <div class="author-thumb">
                <a href="#"><img src="assets/images/author/author-03.jpg" alt="Author"></a>
              </div>
              <div class="author-name">
                <a class="name" href="#">Patricia Collins</a>
              </div>
            </div>
            <div class="tag">
              <a href="#">Business</a>
            </div>
          </div>

          <h4 class="title"><a href="blog-details-left-sidebar.html">Culture & Leadership: Strategies for a
            Successful Business</a></h4>

          <div class="blog-meta">
            <span> <i class="icofont-calendar"></i> 21 March, 2021</span>
            <span> <i class="icofont-heart"></i> 2,568+ </span>
          </div>

          <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
        </div>
      </div>
      <!-- Single Blog End -->

    </div>
    <div class="col-md-6">

      <!-- Single Blog Start -->
      <div class="single-blog">
        <div class="blog-image">
          <a href="blog-details-left-sidebar.html"><img src="assets/images/blog/blog-04.jpg" alt="Blog"></a>
        </div>
        <div class="blog-content">
          <div class="blog-author">
            <div class="author">
              <div class="author-thumb">
                <a href="#"><img src="assets/images/author/author-04.jpg" alt="Author"></a>
              </div>
              <div class="author-name">
                <a class="name" href="#">Archie Neal</a>
              </div>
            </div>
            <div class="tag">
              <a href="#">Science</a>
            </div>
          </div>

          <h4 class="title"><a href="blog-details-left-sidebar.html">Data Science and Machine Learning with
            Python - Hands On!</a></h4>

          <div class="blog-meta">
            <span> <i class="icofont-calendar"></i> 21 March, 2021</span>
            <span> <i class="icofont-heart"></i> 2,568+ </span>
          </div>

          <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
        </div>
      </div>
      <!-- Single Blog End -->

    </div>
    <div class="col-md-6">

      <!-- Single Blog Start -->
      <div class="single-blog">
        <div class="blog-image">
          <a href="blog-details-left-sidebar.html"><img src="assets/images/blog/blog-05.jpg" alt="Blog"></a>
        </div>
        <div class="blog-content">
          <div class="blog-author">
            <div class="author">
              <div class="author-thumb">
                <a href="#"><img src="assets/images/author/author-05.jpg" alt="Author"></a>
              </div>
              <div class="author-name">
                <a class="name" href="#">Randal Ramsey</a>
              </div>
            </div>
            <div class="tag">
              <a href="#">UX Design</a>
            </div>
          </div>

          <h4 class="title"><a href="blog-details-left-sidebar.html">Create Amazing Color Schemes for Your UX
            Design Projects</a></h4>

          <div class="blog-meta">
            <span> <i class="icofont-calendar"></i> 21 March, 2021</span>
            <span> <i class="icofont-heart"></i> 2,568+ </span>
          </div>

          <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
        </div>
      </div>
      <!-- Single Blog End -->

    </div>
    <div class="col-md-6">

      <!-- Single Blog Start -->
      <div class="single-blog">
        <div class="blog-image">
          <a href="blog-details-left-sidebar.html"><img src="assets/images/blog/blog-06.jpg" alt="Blog"></a>
        </div>
        <div class="blog-content">
          <div class="blog-author">
            <div class="author">
              <div class="author-thumb">
                <a href="#"><img src="assets/images/author/author-06.jpg" alt="Author"></a>
              </div>
              <div class="author-name">
                <a class="name" href="#">Rochelle Thomas</a>
              </div>
            </div>
            <div class="tag">
              <a href="#">Business</a>
            </div>
          </div>

          <h4 class="title"><a href="blog-details-left-sidebar.html">Culture & Leadership: Strategies for a
            Successful Business</a></h4>

          <div class="blog-meta">
            <span> <i class="icofont-calendar"></i> 21 March, 2021</span>
            <span> <i class="icofont-heart"></i> 2,568+ </span>
          </div>

          <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
        </div>
      </div>
      <!-- Single Blog End -->

    </div>
    <div class="col-md-6">

      <!-- Single Blog Start -->
      <div class="single-blog">
        <div class="blog-image">
          <a href="blog-details-left-sidebar.html"><img src="assets/images/blog/blog-07.jpg" alt="Blog"></a>
        </div>
        <div class="blog-content">
          <div class="blog-author">
            <div class="author">
              <div class="author-thumb">
                <a href="#"><img src="assets/images/author/author-07.jpg" alt="Author"></a>
              </div>
              <div class="author-name">
                <a class="name" href="#">Della Salazar</a>
              </div>
            </div>
            <div class="tag">
              <a href="#">Science</a>
            </div>
          </div>

          <h4 class="title"><a href="blog-details-left-sidebar.html">Data Science and Machine Learning with
            Python - Hands On!</a></h4>

          <div class="blog-meta">
            <span> <i class="icofont-calendar"></i> 21 March, 2021</span>
            <span> <i class="icofont-heart"></i> 2,568+ </span>
          </div>

          <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
        </div>
      </div>
      <!-- Single Blog End -->

    </div>
    <div class="col-md-6">

      <!-- Single Blog Start -->
      <div class="single-blog">
        <div class="blog-image">
          <a href="blog-details-left-sidebar.html"><img src="assets/images/blog/blog-08.jpg" alt="Blog"></a>
        </div>
        <div class="blog-content">
          <div class="blog-author">
            <div class="author">
              <div class="author-thumb">
                <a href="#"><img src="assets/images/author/author-08.jpg" alt="Author"></a>
              </div>
              <div class="author-name">
                <a class="name" href="#">Ricardo Patrick</a>
              </div>
            </div>
            <div class="tag">
              <a href="#">UX Design</a>
            </div>
          </div>

          <h4 class="title"><a href="blog-details-left-sidebar.html">Create Amazing Color Schemes for Your UX
            Design Projects</a></h4>

          <div class="blog-meta">
            <span> <i class="icofont-calendar"></i> 21 March, 2021</span>
            <span> <i class="icofont-heart"></i> 2,568+ </span>
          </div>

          <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
        </div>
      </div>
      <!-- Single Blog End -->

    </div>
  </div>
</div>
<!-- Blog Wrapper End -->

<!-- Page Pagination End -->
<div class="page-pagination">
  <ul class="pagination justify-content-center">
    <li><a href="#"><i class="icofont-rounded-left"></i></a></li>
    <li><a class="active" href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#"><i class="icofont-rounded-right"></i></a></li>
  </ul>
</div>
<!-- Page Pagination End -->

