<!--&lt;!&ndash; Page Content Wrapper Start &ndash;&gt;-->
<!--<div class="page-content-wrapper">-->
<!--  <div class="container-fluid custom-container">-->
<!--    <div class="right">-->

<!--      <div class="form-group">-->
<!--        <label class="col-md-4 control-label"></label>-->
<!--        <div class="col-md-2">-->
<!--          <c:if test="${not empty message}">-->
<!--            <div class="alert alert-${alert}">-->
<!--              <h11 style="color: red">${message}</h11>-->
<!--            </div>-->
<!--          </c:if>-->
<!--        </div>-->
<!--      </div>-->
<!--      <form action="./add" method="POST" class="form-horizontal"-->
<!--            enctype="multipart/form-data" id="form_slider">-->


<!--        &lt;!&ndash; Text input&ndash;&gt;-->
<!--        <div class="form-group" style="margin-bottom: 20px">-->
<!--          <label style="font-weight: bold" class="col-md-4 control-label"-->
<!--                 for="slider_name">SLIDER-->
<!--            NAME</label>-->
<!--          <div class="single-form col-md-4" style="margin-bottom: 20px">-->
<!--            <input id="slider_name" name="slider_name" placeholder="SLIDER NAME"-->
<!--                   class="form-control input-md" type="text">-->
<!--            <div id="slider_name-error"></div>-->
<!--          </div>-->
<!--        </div>-->


<!--        <div class="form-group">-->
<!--          <label class="col-md-4 control-label"></label>-->
<!--          <div class="col-md-4 ">-->
<!--            <img id="image-preview" class="thumbnail img-responsive d-none" src=""-->
<!--                 alt="">-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; File Button &ndash;&gt;-->
<!--        <div class="form-group">-->
<!--          <label class="col-md-4 control-label"-->
<!--                 style="font-weight: bold;margin-top: 20px" for="file_thumbnail">SLIDER-->
<!--            IMAGE-->
<!--          </label>-->
<!--          <div class="single-form col-md-4">-->
<!--            <input id="image" name="image" data-can-empty="false"-->
<!--                   class="form-control" type="file">-->
<!--            <div id="image-error"></div>-->
<!--          </div>-->
<!--        </div>-->


<!--        &lt;!&ndash; Textarea &ndash;&gt;-->
<!--        <div class="form-group" style="margin-bottom: 20px">-->
<!--          <label style="font-weight: bold" class="col-md-4 control-label"-->
<!--                 for="slider_content">SLIDER-->
<!--            CONTENT</label>-->
<!--          <div class="single-form col-md-4" style="margin-bottom: 20px">-->
<!--                                                <textarea class="form-control" id="slider_content" name="slider_content"-->
<!--                                                          placeholder="SLIDER CONTENT"></textarea>-->
<!--            <div id="slider_content-error"></div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="form-group" style="margin-bottom: 20px">-->
<!--          <label style="font-weight: bold" class="col-md-4 control-label"-->
<!--                 for="backlink">SLIDER-->
<!--            BACKLINK</label>-->
<!--          <div class="single-form col-md-4" style="margin-bottom: 20px">-->
<!--            <input id="backlink" name="backlink" placeholder="SLIDER BACKLINK"-->
<!--                   class="form-control input-md" type="text">-->
<!--            <div id="backlink-error"></div>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Select Basic &ndash;&gt;-->
<!--        <div class="form-group courses-select" style="margin-bottom: 20px">-->
<!--          <label style="font-weight: bold" class="col-md-4 control-label"-->
<!--                 for="status">SLIDER STATUS</label>-->
<!--          <div class="single-form col-md-4" style="margin-bottom: 20px">-->
<!--            <select id="status" name="status" class="form-control">-->
<!--              <option disabled selected> &#45;&#45; Status &#45;&#45;</option>-->
<!--              <option value="1">Active</option>-->
<!--              <option value="0">Inactive</option>-->
<!--            </select>-->
<!--            <div id="status-error"></div>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Button &ndash;&gt;-->
<!--        <div class="form-group">-->
<!--          <label class="col-md-4 control-label" for="singlebutton"></label>-->
<!--          <div class="single-form col-md-4">-->
<!--            <button id="singlebutton" name="singlebutton"-->
<!--                    class="btn btn-primary">Add Slider-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->

<!--    &lt;!&ndash; Courses Resources Start &ndash;&gt;-->
<!--    <jsp:include page="../../component/administration/courses-resources.jsp"/>-->

<!--    &lt;!&ndash; Courses Resources End &ndash;&gt;-->

<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; Page Content Wrapper End &ndash;&gt;-->
