<!-- Register & Login Start -->
<div class="section section-padding">
  <div class="container">

    <!-- Register & Login Wrapper Start -->
    <div class="register-login-wrapper">
      <div class="row align-items-center">
        <div class="col-lg-6">

          <!-- Register & Login Images Start -->
          <div class="register-login-images">
            <div class="shape-1">
              <img src="assets/images/shape/shape-26.png"
                   alt="Shape">
            </div>


            <div class="images">
              <img src="assets/images/register-login.png"
                   alt="Register Login">
            </div>
          </div>
          <!-- Register & Login Images End -->

        </div>
        <div class="col-lg-6">

          <!-- Register & Login Form Start -->
          <div class="register-login-form">
            <h3 class="title">Change password</h3>
            <div class="form-wrapper">
              <form action="./change-password" method="post" id="form_user-changePassword">
                <!-- Single Form Start -->
                <p style="color: red; align-items: center">${error}</p>
                <div class="single-form">
                  <input class="form-control" id="old-password" name="old-password"
                         type="password" placeholder="Old Password">
                </div>
                <!-- Single Form End -->
                <!-- Single Form Start -->
                <div class="single-form">
                  <input class="form-control" id="password" name="password" type="password" placeholder="New Password">
                  <div id="password-error"></div>
                </div>
                <div class="single-form">
                  <input class="form-control" id="cpassword" name="cpassword" type="password"
                         placeholder="Re-New Password">
                  <div id="cpassword-error"></div>
                </div>
                <!-- Single Form End -->
                <!-- Single Form Start -->
                <div class="single-form" style="margin-top: -7px">
                  <button type="submit" class="btn btn-primary btn-hover-dark w-100">Submit</button>
                </div>
                <!-- Single Form End -->
              </form>
            </div>
          </div>
          <!-- Register & Login Form End -->

        </div>
      </div>
    </div>
    <!-- Register & Login Wrapper End -->

  </div>
</div>
<!-- Register & Login End -->
